<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>URLAUBSGLÜCK</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<!--[if lt IE 9]>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
	<link rel="stylesheet" href="css/style-ie8.css">
	<![endif]-->
</head>
<body>
	
	<section class="main">
		<div class="container">
			<header class="header">

				<div class="autoriz">
					<a href="" class="autoriz__login">Log in</a>
					<a href="" class="autoriz__signup">Sign up</a>
				</div>
				<a href="" class="logo"><img src="img/logo.png" alt="" class="logo__img"></a>
				
			</header>
			<h1 class="main__head">share your holiday dreams</h1>
			<h3 class="main__subhead">And find the perfect partner to fullfill it</h3>

			<a href="" class="link">Find your holiday partner</a>
		</div>
	</section>
	
	<section class="works">
		<div class="container">
			<h2 class="head">How Urlaubsglück works?</h2>

			<div class="sliders">
				<div id="slidr1" class="slider">

					<div data-slidr="one" class="slider__item slider__item-1">
						<div class="slider__cont">
							<div class="slider__step">step 1</div>
							<h3 class="slider__head">Sed leo enim, condimentum</h3>
							<p class="slider__desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</div>

					<div data-slidr="two" class="slider__item slider__item-2">
						<div class="slider__cont">
							<div class="slider__step">step 2</div>
							<h3 class="slider__head">Morbi velit risus</h3>
							<p class="slider__desc">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
						</div>
					</div>

					<div data-slidr="three" class="slider__item slider__item-3">
						<div class="slider__cont">
							<div class="slider__step">step 3</div>
							<h3 class="slider__head">Sed leo enim, condimentum</h3>
							<p class="slider__desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</div>

					<aside id="slidr1-control">
					  <div class="slidr-control left"></div>
					  <div class="slidr-control right"></div>
					</aside>

				</div>

				<div id="slidr2" class="slider">					

					<div data-slidr="two" class="slider__item slider__item-2">
						<div class="slider__cont">
							<div class="slider__step">step 2</div>
							<h3 class="slider__head">Morbi velit risus</h3>
							<p class="slider__desc">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
						</div>
					</div>

					<div data-slidr="three" class="slider__item slider__item-3">
						<div class="slider__cont">
							<div class="slider__step">step 3</div>
							<h3 class="slider__head">Sed leo enim, condimentum</h3>
							<p class="slider__desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</div>

					<div data-slidr="one" class="slider__item slider__item-1">
						<div class="slider__cont">
							<div class="slider__step">step 1</div>
							<h3 class="slider__head">Sed leo enim, condimentum</h3>
							<p class="slider__desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</div>
				
				<aside id="slidr2-control">
					  <div class="slidr-control left"></div>
					  <div class="slidr-control right"></div>
				</aside>

				</div>

				<div id="slidr3" class="slider">

					<div data-slidr="three" class="slider__item slider__item-3">
						<div class="slider__cont">
							<div class="slider__step">step 3</div>
							<h3 class="slider__head">Sed leo enim, condimentum</h3>
							<p class="slider__desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</div>

					<div data-slidr="one" class="slider__item slider__item-1">
						<div class="slider__cont">
							<div class="slider__step">step 1</div>
							<h3 class="slider__head">Sed leo enim, condimentum</h3>
							<p class="slider__desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</div>

					<div data-slidr="two" class="slider__item slider__item-2">
						<div class="slider__cont">
							<div class="slider__step">step 2</div>
							<h3 class="slider__head">Morbi velit risus</h3>
							<p class="slider__desc">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
						</div>
					</div>

					<aside id="slidr3-control">
					  <div class="slidr-control left"></div>
					  <div class="slidr-control right"></div>
					</aside>
					
				</div>
			</div>
		</div>
	</section>

	<section class="meet">
		<div class="container">
			<h2 class="head">Meet a partner for your best holiday</h2>
			<div class="partner">
				<div class="partner__item">
					<div class="partner__photo partner__photo-1">
						<div class="partner__icon"></div>
					</div>
					<h4 class="partner__name">Bradley Hunter</h4>
					<p class="partner__desc">Based in Chicago. I love playing tennis and loud music.</p>
				</div>

				<div class="partner__item">
					<div class="partner__photo partner__photo-2">
						<div class="partner__icon"></div>
					</div>
					<h4 class="partner__name">Heather Walker</h4>
					<p class="partner__desc">I'm a happy person that loves cats and climbing on mountains.</p>
				</div>

				<div class="partner__item">
					<div class="partner__photo partner__photo-3">
						<div class="partner__icon"></div>
					</div>
					<h4 class="partner__name">Lucas Marsha</h4>
					<p class="partner__desc">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
				</div>

				<div class="partner__item partner__item-last">
					<div class="partner__photo partner__photo-4">
						<div class="partner__icon"></div>
					</div>
					<h4 class="partner__name">Bradley Hunter</h4>
					<p class="partner__desc">Based in Chicago. I love playing tennis and loud music.</p>
				</div>
			</div>

			<a href="" class="link link-meet">See other partners</a>
		</div>
	</section>

	<section class="discover">
		<div class="container">
			<h2 class="head">Discover holiday activity ideas</h2>

			<div class="masonry" id="masonry">

			</div>

		</div>
	</section>
	
	<section class="searches">
		<div class="container">
			<h2 class="head">Discover holiday activity ideas</h2>

			<p class="question">Hi! What are your holiday interests?</p>
			<div class="search">
				<input type="text" class="searcher" id="text" placeholder="Enter your interests">
				<input type="button" id="search" value="Search partners" class="link button">
			</div>
		</div>
	</section>

	<footer class="footer">

		<div class="container">
			
			<a href="" class="logo-footer"><img src="img/logo-red.png" alt="" class="logo__img"></a>

			<div class="footer__item">
				<h4 class="footer__head">Company</h4>
				<ul class="menu">
					<li class="menu__item"><a href="" class="menu__link">About</a></li>
					<li class="menu__item"><a href="" class="menu__link">Contacts</a></li>
					<li class="menu__item"><a href="" class="menu__link">Press</a></li>
					<li class="menu__item"><a href="" class="menu__link menu__link-last">Blog</a></li>
				</ul>
			</div>

			<div class="footer__item">
				<h4 class="footer__head">Partners</h4>
				<ul class="menu">
					
				</ul>
			</div>

			<div class="design">
				<h3 class="design__by">designed by</h3>

				<a href="" class="design__link"><img src="img/designBy.png" alt="" class="design__img"></a>
			</div>
		</div>

	</footer>

<script type="text/template" id="mason">
	<% for(var i = 0; i < 7; i++) { %>
		<div class="masonry__item masonry__item-<%= i %>" style="background-image: url(<%= data[i].webformatURL %>);">
			<div class="masonry__desc"><%= data[i].tags %></div>
		</div>
		
	<% } %>
</script>
<script src="js/script.js"></script>	
</body>
</html>